{%- macro render_boardgame_form(subform, index) %}
<div id="boardgame-{{ index }}-form" class="{% if index != '_' %}subform{% else %}is-hidden{% endif %}" data-index="{{ index }}">
    {{ subform.csrf_token() }}
    <div class="card mt-3 mb-3">
        <div class="card-body">
            <div class="row">
                <p>
                    <div class="col-md-6 col-sm-6 col-xs-6 col-6">
                        {{ subform.offer.label }}
                        {{ subform.offer(class_="form-select offer-type") }}
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 col-6">
                        {{ subform.price.label }}
                        {{ subform.price(class_="form-control price-input", required="required", placeholder="R$ 199,90", maxlength="8", type="number") }}
                    </div>
                </p>
            </div>
            <p>
                <div>
                    {{ subform.details.label }}
                    <small class="text-muted"><span class="chars" style="float:right;"></span></small>
                    {{ subform.details(class_="form-control detail-area", maxlength="50", placeholder="(Opcional) Primeira edição. Como novo e com sleeves. ") }}
                </div>
            </p>
            <p>
                <div>
                    {{ subform.boardgame.label }}
                    {{ subform.boardgame(class_="form-control bg-autocomplete", placeholder="Zombicide") }}
                </div>
            </p>
            <p class="text-end">
                <button class="remove btn btn-outline-danger" href="#"><i class="far fa-trash-alt"></i> Remover</button>
            </p>
        </div>
    </div>
</div>
{%- endmacro %}