{% extends 'template.html' %}
{% import "macros/subforms.html" as macros %}

{% block content %}
<div class="card px-5 mt-5 mb-5">
    <div class="row mt-1">
        <div class="text-center">
            <img src="{{ url_for('static', filename='bgb-transparent.png') }}" style="border-radius: 50%; width: 30%; height: auto;"class="rounded" alt="...">
        </div>
        <p class="text-center lead fw-bold">Gerador de Anúncios do <a href="https://t.me/bazarbgb/" target="_blank">BGB • Bazar</a></p>
        <div class="alert alert-secondary alert-dismissible fade show mt-3 mx-auto col-12" role="alert">
            Copie e cole o link do jogo, como disponível no <a href="https://boardgamegeek.com/" target="_blank">BGG</a> ou no <a href="https://www.comparajogos.com.br/" target="_blank">ComparaJogos</a>, preencha as demais informações e clique em enviar.
            <br><br>Depois é só copiar o texto formatado abaixo contendo as hashtags e enviar no <a href="https://t.me/bazarbgb/" target="_blank">@BazarBGB</a>!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <div class="alert alert-danger text-center" role="alert">
                    {{ message }}
                </div>                    
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    {% if data %}      
        <div class="row mt-1 mb-5">
            <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 col-12 mx-auto">
                <textarea rows="6" id="tag-area" class="form-control border border-info" readonly>{{ data }}</textarea>
                <br>
                <div class="d-grid gap-2">
                    <button class="btn btn-success btn-lg" onclick="copy()"><i class="far fa-share-square"></i> Compartilhar</button>
                </div>
            </div> 
        </div> 
    {% else %}
        <div class="row mt-1">
            <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 col-12 mx-auto">
                <div class="mb-3 mt-3">
                    <div class="form-group">
                        <form id="boardgame-form" action="" method="POST" role="form">
                            {{ form.hidden_tag() }}      
                            <div class="row">
                                <div class="col-md-8 col-sm-8 col-xs-8 col-8">
                                    <p>
                                        {{ form.city.label }}<br>
                                        {{ form.city(class_="form-control", id="city", placeholder="Mantenha a acentuação correta", maxlength="30") }}
                                    </p>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 col-4">
                                    <p>
                                        {{ form.state.label }}<br>
                                        {{ form.state(class_="form-select", id="states") }}
                                    </p>
                                </div>
                            </div> 
                             
                            <div id="subforms-container">
                                {% for subform in form.boardgames %}
                                    {{ macros.render_boardgame_form(subform, loop.index0) }}
                                {% endfor %}
                            </div>
                            <div class="d-grid gap-2 mb-2 mt-5">
                                <button id="add" class="btn btn-primary btn-lg" type="button"><i class="fas fa-plus-circle"></i> Adicionar mais um item</button>
                            </div> 
                            <div class="d-grid gap-2 mb-5">
                                <button class="btn btn-success btn-lg"><i class="far fa-paper-plane"></i> Enviar</button>
                            </div>    
                        </form>  
                        {% if form.errors %}
                            {{ form.errors }}
                        {% endif %}
                    </div>         
                </div>                
            </div>
        </div>
    </div> 
    {% endif %} 
</div>
    <div hidden>
        {{ macros.render_boardgame_form(_template, '_') }}
    </div>
{% endblock %}
