{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="row mt-3">
        <h1 class="text-center display-3 mx-auto">BGB Bazar</h1>
        <div class="alert alert-secondary alert-dismissible fade show mt-3 mx-auto" role="alert">
            Copie e cole o link do jogo, como disponível no <a href="https://boardgamegeek.com/" target="_blank">BGG</a> ou no <a href="https://www.comparajogos.com.br/" target="_blank">ComparaJogos</a>, preencha as demais informações e clique em enviar.
            <br><br>Depois é só copiar o texto formatado abaixo contendo as hashtags e enviar no <a href="https://t.me/bazarbgb/" target="_blank">@BazarBGB</a>!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    <li>{{ message }}</li>
                </div>                    
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
        {% if data %}      
        <div class="row mt-3">
            <div class="col-md-10 col-sm-10 col-xs-10 col-10 mx-auto">
                <textarea rows="6" id="tag-area" class="form-control border border-info" readonly>{% for row in data %}
{{ row }}
{% endfor %}</textarea>
                <br>
                <button class="btn btn-block btn-info" onclick="copy()">Copiar</button>
            </div> 
        </div> 
        {% endif %}         
        <div class="row mt-3">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-10 mx-auto">
                <div class="mb-3 mt-3">
                    <div class="form-group">
                    <form action="" method="post" novalidate>
                        {{ form.hidden_tag() }}
                        <p>
                            {{ form.offer.label }}<br>
                            {{ form.offer(class_="form-control") }}
                        </p>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6 col-6">
                                <p>
                                    {{ form.city.label }}<br>
                                    {{ form.city(class_="form-control", placeholder="Mantenha a acentuação correta") }}
                                </p>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 col-6">
                                <p>
                                    {{ form.state.label }}<br>
                                    {{ form.state(class_="form-control") }}
                                </p>
                            </div>
                        </div>  
                        <p>
                            {{ form.links.label }}<br>
                            {{ form.links(class_="form-control", rows=8, placeholder="https://www.comparajogos.com.br/carcassonne") }}
                        </p>                                               
                        <p>{{ form.submit(class_="btn btn-info btn-block mb-5") }}</p>
                    </form>    
                    </div>         
                </div>                
            </div>
        </div>
    </div>      
{% endblock %}